<header class="site-header">

  <div class="title-wrapper">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
  </div>


  <div class="wrapper">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a href="{{ my_page.url | prepend: site.baseurl }}" class="tabnav-tab">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>


</header>
