<div class="container form-container" style="padding: .5em 0;">
  <form accept-charset="UTF-8" class="subnav-search container" id="post-search-form" style="display: inline-block; margin-left: 0px; margin-bottom: 5px;">
    <input aria-label="Search Post" class="form-control form-control subnav-search-input input-contrast" id="post-search" name="query" placeholder="Search posts" type="text" >
    {% octicon search class:"subnav-search-icon" style:"fill: #c6cbd1;" %}
    <button class="btn btn-primary">Search</button>
  </form>
</div>
