@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src: url(font_path('cwTeXFangSong-zhonly.eot'));
  src: url(font_path('cwTeXFangSong-zhonly-iefix.eot')) format('embedded-opentype'),
       url(font_path('cwTeXFangSong-zhonly.woff2')) format('woff2'),
       url(font_path('cwTeXFangSong-zhonly.woff')) format('woff'),
       url(font_path('cwTeXFangSong-zhonly.ttf')) format('truetype');
}
