@charset "utf-8";

// Our variables
$base-font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #333333;
$background-color: #fff;
$brand-color:      #4078c0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-text-color:  #979797;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "fonts";

// style overwrites
.tabnav-tab {
  border-width: 3px 1px 1px;

  &.selected {
    border-color: #d26911 #ddd transparent;
  }
}

.nav-wrapper {
  border-bottom: 1px solid #ddd;

  @include media-query($on-palm) {
    border-bottom: 0;
    padding: 0 1.2em;
  }

  .tabnav {
    width: 700px;
    margin: 0 auto;
    border-bottom: transparent;

    @include media-query($on-palm) {
      width: auto;

      .tabnav-tab.selected {
        border-color: transparent;
        border-radius: 10%;
        background-color: #4078c0;
        color: #fff;

        svg {
          fill: white;
        }
      }

    }
  }

}

.exploregrid-item {
  float: left;
  width: 305px;
  height: 185px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid rgba(0,0,0,0.075);
  border-bottom-color: rgba(0,0,0,0.125);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

  &:hover {
    text-decoration: none;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05),0 8px 15px rgba(0,0,0,0.1);
  }

  h3 {
    &:hover {
      color: #4078c0;
    }
  }
}
